<!DOCTYPE html>

    <head>
       <title>Twilio texting Home</title>
    </head>
    <body>
        <h1>Send a text with Twilio!
            <form action="/send_sms", method="POST">
            <div>
                <input type="text" name="phone" placeholder="Enter a phone number"/>
                <input type="text" name="message" placeholder="Enter text here"/>
                <input type="submit" value="send Message"/>
            </div>
        
        </form>
        
    </body>
</html>